.damselection-container {
    padding-top: 4em;
    gap: 2.5em;
    margin-left: auto;
    margin-right: auto;
    background-image :url('file:///E:\NHP_Inhouse_Dev\NHP_CHETAS\NHP_CHETAS\NHP_CHETAS\wwwroot\video\1.gif');
}

.damselection-card {
    display: grid;
    width: 18em;
    border-radius: 0.5em;
    border: 1px solid rgb(172, 179, 180);
    padding: 1em;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}

/* .damselection-card:hover {
  background-color: rgb(248, 248, 248);
} */

.damselection-button {
    text-align: center;
    border: none;
    border-radius: 0.2em;
    margin-top: 1em;
    color: white;
    font-size: small;
    font-weight: bolder;
    background-color: #20abba;
    transition: 0.2s;
}

.damselection-button:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 576px) {
  .damselection-container {
    padding-top: 12em;
    gap: 1.5em;
  }
  .damselection-card {
    margin-left: auto;
    margin-right: auto;
  }
}
